.menu {
    width: 150px;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    overflow: hidden;
}

.closed {
    display: none;
}

.open {
    width: 250px;
}

.toggleButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

.link{
    padding: 5px;
}

.link:hover {
    background:  #007bff;
    color: #ffffff;
}


